<form   id="alubamsCreateForm" class="form-container">
    <h1 class=".text-center">create alubams</h1>

    <label for="name"><b>name</b></label>
    <input type="text" placeholder="Enter name" name="name" class="name">
    <span class="albumNameError"></span><br>

    <button type="button" id="btnCreate" class="btn">create</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
  