<section class="bg-gray-100 h-screen font-[sans-serif]">
  <div class="profilePage mx-auto hidden" id="mainProfilePage">
    <!--profile data-->
    <div class="bg-gray-100 h-auto px-48">
      <div class="flex md:flex-row-reverse flex-wrap">
        <div class="w-full md:w-3/4 p-4 flex flex-col items-start gap-3">
          <div class="flex justify-between items-center pt-3 w-[inherit]">
            <span class="text-base text-gray-700 text-2xl userName"></span>
            <p class="text-base font-semibold text-gray-700 setting m-0">
              <button
                class="p-1 border-transparent text-gray-700 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600 group relative"
                aria-label="Notifications"
              >
                <svg
                  class="h-8 w-8"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                  />
                  <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <div
                  class="absolute right-0 hidden group-hover:block z-10 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu"
                  id="user-menu"
                  tabindex="-1"
                >
                  <a
                    href="/resetpassword"
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-700"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-0"
                    >Reset Password</a
                  >
                  <hr />
                  <p
                    class="block px-4 py-2 text-sm text-gray-700 hover:bg-sky-700 editProfile"
                    role="menuitem"
                    tabindex="-1"
                    id="user-menu-item-1"
                  >
                    Edit profile
                  </p>
                </div>
              </button>
            </p>
          </div>

          <div class="text-left">
            <span class="text-lg font-bold text-gray-700 mr-2 first_name">
            </span>
          </div>
          <div class="text-left">
            <span class="text-base text-gray-700 mr-2">
              <b class="postCount"></b> posts
            </span>
            <span class="text-base text-gray-700 mr-2">
              <b class="tagPostCount"></b> tag post
            </span>
            <span class="text-base text-gray-700">
              <b class="albumCount"></b> albums
            </span>
          </div>

          <div class="text-left">
            <p class="text-base text-gray-700 mr-2 userBio"></p>
          </div>
        </div>

        <div class="w-full md:w-1/4 p-4 flex justify-center">
          <div class="w-full relative md:w-3/4 text-center mt-8">
            <button
              class="flex rounded-full userProfile"
              id="user-menu"
              aria-label="User menu"
              aria-haspopup="true"
            ></button>
          </div>
        </div>
      </div>
      <hr class="border-gray-500 mt-6" />

      <!--post icon and title-->
      <div class="flex flex-row mt-4 justify-center mr-16">
        <div
          class="flex text-gray-700 text-center py-2 m-2 pr-5 postText border-b-4 border-purple-700"
        >
          <div class="flex inline-flex">
            <button
              class="border-transparent text-gray-800 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
              aria-label="Notifications"
            >
              <svg
                class="h-6 w-6 posts"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"
                />
              </svg>
            </button>
          </div>
          <div class="flex inline-flex ml-2 mt-1">
            <h3 class="text-sm font-bold text-gray-800 mr-2">POSTS</h3>
          </div>
        </div>

        <div class="flex text-gray-700 text-center py-2 m-2 pr-5 saveText">
          <div class="flex inline-flex">
            <button
              class="border-transparent text-gray-600 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
              aria-label="Notifications"
            >
              <svg
                class="h-6 w-6 save"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
              </svg>
            </button>
          </div>
          <div class="flex inline-flex ml-2 mt-1">
            <h3 class="text-sm font-medium text-gray-700 mr-2">SAVED</h3>
          </div>
        </div>

        <div class="flex text-gray-700 text-center py-2 m-2 pr-5 tagText">
          <div class="flex inline-flex">
            <button
              class="border-transparent text-gray-600 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600"
              aria-label="Notifications"
            >
              <svg
                class="h-6 w-6 tags"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
                />
              </svg>
            </button>
          </div>
          <div class="flex inline-flex ml-2 mt-1">
            <h3 class="text-sm font-medium text-gray-700 mr-2">TAGGED</h3>
          </div>
        </div>
      </div>

      <div class="postImageas"></div>
      <div class="alubumsmain alubums"></div>
      <div class="tagePosts"></div>
    </div>
  </div > 
  <div class="w-screen fixed z-50 h-screen mainLoaderDiv">
    <div class="loader absolute top-[40%] left-[40%]"></div>
  </div>
</section>

<div class="form-popup" id="myForm"><%- include('albumCreateForm') %></div>

  <!-- popup for post  -->
  <div class="form-popup-post" id="popupPost" >
  </div>

<!-- album popup -->
<div class="form-popup2" id="addPostInAlbums">
  <div id="albumsPostadd" class="form-container2">
    <div class="flex justify-between editAlbum">
      <div><h1 class=".text-center albumName"></h1></div>
      <div class="editAlbums"></div>
    </div>

    <div class="overflow-x-auto h-80 postInAlbums">
      <div class="grid grid-cols-3 gap-3 btnInAlbum"></div>
      <div class="oneAlbumsPosts"></div>
    </div>

    <div class="overflow-x-auto hidden h-80 addingpostInAlbums"></div>
    <button type="button" class="btn cancel" onclick="closeForm()">
      Close
    </button>
  </div>
</div>

<div class="form-popup2 homePageAddPostInALbums bg-white form-popup-post">
  <div class="flex justify-between">
    <div class="flex items-center ml-4">
      <label>Choose a album:</label>
      <select class="selectAlbumList ml-4"></select>
    </div>
    <input
      type="button"
      name="addPostInAlbums"
      class="btn finalAddInAlbums"
      onclick="addPostFromHome()"
      value="add"
    />
  </div>
  <div class="addPostsFromHome"></div>
</div>
<div id="closebtn"></div>





<script src="/js/userPorfileScript.js"></script>
<script src="/js/userProfilepost.js"></script>
<script src="/js/userProfilealbums.js"></script>