<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <script src="/sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="/sweetalert2.min.css">
  <title>
    Forgot Password
  </title>
  <noscript>
    <h1 class="text-4xl">  Please Enable Javascript Or Use Another Browser to Use Trip Tale </h1>
  </noscript>
</head>

<body>

  <div class="container  mx-auto flex justify-center ">

    <%- body %>
  </div>

  <script src="/js/auth/loginRegister.js"></script>
</body>

</html>