<main
  class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
>
  <div class="text-center">
    <p class="text-base font-semibold text-indigo-600">404</p>
    <h1
      class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
    >
      Page not found
    </h1>
    <p class="mt-6 text-base leading-7 text-gray-600">
      Sorry, we couldn’t find the page you’re looking for.
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <a
        href="/"
        class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >Go back home</a
      >
      <p
        class="bg-cover hidden w-[12rem] bg-[#d3d3d3] h-[12rem] bg-transparent border-[none] text-[#999] cursor-pointer ml-[5px] inline-block bg-[#f2f2f2] text-[#333] rounded-[20px] px-[10px] py-[5px] mr-[5px] mb-[5px]"
      ></p>
    </div>
  </div>
</main>
<li
  class="p-3 hidden bg-[#5aca56] w-max opacity-60 top-[33px] border-b-2 border-black -top-[20px] right-[0] left-[0] bg-[#8F8BE8] text-[#fff] text-[#333] text-[14px] p-[5px] break-all bg-[#e9eafd] text-[#787986] ml-auto rounded-[4px] mb-[20px] max-w-[90%] w-fit relative top-[0px] right-[10px] gap-x-10 w-[40px] float-left h-[40px] rounded-[50%] flex items-center space-x-4 flex-shrink-0 w-8 h-8 rounded-full flex-1 min-w-0 text-black-900 text-sm text-black-500 truncate w-[270px] m-2 pl-3 pr-1 py-1 rounded-3xl border border-black items-center gap-2 inline-flex justify-between flex items-center gap-2 grow w-40 shrink basis-0 text-black text-xs font-medium leading-4 focus:outline-none items-center flex px-3 py-2 bg-indigo-600 rounded-full shadow text-white text-base font-semibold leading-4 px-2 h[395px] w-[395px] min-h-[395px] min-w-[395px] max-h-[395px] w-4 h-4 object-cover rounded-t-md rounded border w-[180px] shrink basis-0 text-black text-base font-medium leading-4 focus:outline-none rounded-4 w-[160px] w-[250px] ml-16 bg-black bottom-[28px] right-32 py-2 top-[12px] w-[159px] cursor-pointer m-[2px] w-4 h-4 h-[350px] w-[130px]"
></li>
